.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #7fad9b;
    ;
    display : flex;
    vertical-align: center;
}

.contact{
    font-family : calibri;
    color : white;
    margin : 2%;
    margin-top: auto;
    margin-bottom: auto;
}