html {
    background-color: #e1f3eb;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

body{
    margin : 0;
}

#main {
    height: 100vh;
    width: 100vw;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
}

@media screen and (max-width: 600px) {

    html {
        overflow-y: visible;
    }


    #main {
        display: flex;
    }

    #gallery {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}